body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: #fdfdfd;
}
.column {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e6e6e6;
  height: 100vh;
  padding: 16px 0;
  width: 25vw;
  width: calc(25vw - 8px);
  padding-left: 8px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 0;
  font-size: 22px;
  color: #2b2a2d;
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 1px solid hsl(0 0% 80% / 1);
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-left: 4px;
}
.row:hover > .box {
  border-color: #7727bf;
}

/* .box:hover { */
/*   cursor: pointer; */
/* } */

h2 {
  font-weight: 200;
  font-size: 38px;

  color: #b1b1b1;
}
* {
  font-family: 'Rokkitt', serif;
}
